Link, a{
  color: rgb(0, 0, 0);
}

.mini-description-card{
  margin: 10px;
}

.center-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.styled-paragraph{
  font-size: 17px;
  align-self: center;
  margin-bottom: 20px;
}